<h1>Reminders#show</h1>

<p>
  id: <%= @reminder.id %>
  name: <%= @reminder.name %>
</p>

<%= link_to '戻る', users_reminders_path, class: 'btn btn-primary btn-lg', style: 'background-color: hotpink;' %>
