<div style="background-color: azure; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.22); margin: 0vh 20vw 0vh;">
  <div style="background-color: deepskyblue; color: white; text-align: center; font-size: 30px; font-weight: bold;">Profile</div>
  <div style="margin: 5px 10px 0px; padding: 5px;">
    <div style="border-bottom: solid 2px lightgray; color: gray; font-size: 40px; padding: 7px;">
      <div style="font-size: 20px;">Name: </div><div style="color: dimgray; padding-left: 5%;"><%= user.name %></div>
    </div>
    <div style="border-bottom: solid 0px lightgray; color: gray; font-size: 40px; padding: 7px;">
      <div style="font-size: 20px;">Email: </div><div style="color: dimgray; padding-left: 5%;"><%= user.email %></div>
    </div>
  </div>
</div>
