<p>
  <table style="width: 600px; font-size: 20px">
    <tr>
      <th>ID</th><th>Name</th><th>e-mail</th>
    </tr>
    <tr style="font-size: 30px">
      <td><%= user.id %></td><td><%= user.name %></td><td><%= user.email %></td>
    </tr>
  </table>
</p>
