<p>
  <% if logged_in? %>
    <h3>Current user is <strong><%= link_to "#{current_user.name}", users_path %></strong></h3>
  <% end %>
</p>
<p>
  <h3>User list</h3>
  <table border="3" width="300">
    <tr>
      <th>ID</th><th>Name</th><th>e-mail</th>
    </tr>
    <% @all_user.each do |user| %>
      <tr align="center">
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </table>
</p>
