<h1>User#Show</h1>
<%= "ID :\t#{@user.id}" %><br>
<%= "Name :\t#{@user.name}" %><br>
<%= "Email :\t#{@user.email}" %><br>

<%= link_to 'Top', :controller => 'home', :action => 'top', :is_login => true %>
