<div class="panel panel-default" style="margin: 2vh 10vw 2vh; border: solid 3px violet;">
  <div class="panel-heading panel-title" style="background-color: violet;">
    <%= link_to memo.title, users_memos_path(id: memo), class: 'btn btn-default' %>
  </div>
  <div class="panel-body">
    <div class="well"> <%= simple_format("#{memo.body}") %></div>
  </div>
  <div class="panel-footer" style="color: darkgray;">
  <%= "Made time : #{format_datetime(memo.made_time)}" %>
    <%= "Updated time : #{format_datetime(memo.updated_time)}" %>
  </div>
</div>
