<h1 style="border-radius: 9px; background-color: lavender; padding: 5px;">メモの詳細</h1>
<%= render partial: 'memos/memo', layout: 'memos/frame', locals: { memo: @memo } %>
<p style="margin-left: 10vw;">
  <%= link_to users_path, class: 'btn btn-default' do %>
    戻る <span class="glyphicon glyphicon-hand-left"></span>  
  <% end %><%= link_to edit_users_memos_path(id: @memo), class: 'btn btn-default' do %>
    編集 <span class="glyphicon glyphicon-edit"></span>
  <% end %>
  <%= link_to users_memos_path(id: @memo), method: :delete, data: { confirm: '削除しますか？'}, class: 'btn btn-default' do %>
    削除 <span class="glyphicon glyphicon-trash"></span>
  <% end %>
</p>
