<footer class="footer">
  <nav>
    <ul>
      <li>The <%= link_to 'github', 'https://github.com/tanacchi/birdbrains' %> page is here.</li>
      <li>Special thanks for <%= link_to 'Ruby on Rails Tutorial', 'https://github.com/tanacchi/birdbrains' %></li>
    </ul>
  </nav>
</footer>
